In [3]:
import sys 
sys.path.append('/Users/shayaandar/nba/nbagoat/database')
import main_database  
import sqlite3
import os
import pandas as pd

In [4]:
# Creating tables 
cur, conn = main_database.set_up_database('NBA_statistics.db')
df = pd.read_sql_query('SELECT * FROM player_awards',conn)

name
Kobe Bryant        86
Michael Jordan     94
LeBron James      154
Name: description, dtype: int64

In [26]:
dfaward = df[df['description']!='NBA Player of the Week']
dfaward = dfaward[dfaward['description']!='NBA Player of the Month']
dfaward = dfaward[dfaward['description']!='NBA Rookie of the Month']
award_count = dfaward.groupby('name')['description'].count().sort_values()[-3:] 
award_count

name
LeBron James           43
Kareem Abdul-Jabbar    44
Michael Jordan         50
Name: description, dtype: int64

In [27]:
df_lebron = dfaward[dfaward['name']=='LeBron James']
lebron_award_count = df_lebron.groupby('description')['player_id'].count()
lebron_award_count

description
All-Defensive Team                                     6
All-NBA                                               19
All-Rookie Team                                        1
NBA All-Star Most Valuable Player                      3
NBA Finals Most Valuable Player                        4
NBA Most Valuable Player                               4
NBA Rookie of the Year                                 1
NBA Sporting News Most Valuable Player of the Year     1
NBA Sporting News Rookie of the Year                   1
Olympic Bronze Medal                                   1
Olympic Gold Medal                                     2
Name: player_id, dtype: int64

In [29]:
df_jordan = dfaward[dfaward['name']=='Michael Jordan']
df_jordan_count = df_jordan.groupby('description')['player_id'].count()
df_jordan_count

description
All-Defensive Team                                     9
All-NBA                                               11
All-Rookie Team                                        1
Hall of Fame Inductee                                  1
IBM Award                                              2
NBA All-Star Most Valuable Player                      3
NBA Defensive Player of the Year                       1
NBA Finals Most Valuable Player                        6
NBA Most Valuable Player                               5
NBA Rookie of the Year                                 1
NBA Sporting News Most Valuable Player of the Year     7
NBA Sporting News Rookie of the Year                   1
Olympic Gold Medal                                     2
Name: player_id, dtype: int64

In [30]:
df_kaj = dfaward[dfaward['name']=='Kareem Abdul-Jabbar']
df_kaj_count = df_kaj.groupby('description')['player_id'].count()
df_kaj_count

description
All-Defensive Team                                    11
All-NBA                                               15
All-Rookie Team                                        1
Hall of Fame Inductee                                  1
NBA Finals Most Valuable Player                        2
NBA Most Valuable Player                               6
NBA Rookie of the Year                                 1
NBA Sporting News Most Valuable Player of the Year     6
NBA Sporting News Rookie of the Year                   1
Name: player_id, dtype: int64