In [1]:
import sys 
sys.path.append('/Users/shayaandar/nba/nbagoat/database')
import main_database  
import sqlite3
import os
import pandas as pd 
import data_functions

In [2]:
# Creating tables 
cur, conn = main_database.set_up_database('NBA_statistics.db')
df = pd.read_sql_query('SELECT * FROM vw_playoffstats',conn)

In [ ]:
df[['start_season','end']] = df['season_id'].str.split('-',expand=True)
df['start_season'] = df['start_season'].astype(int)

In [ ]:
current_playoffs = df[df['start_season']==2022]
current_playoffs[current_playoffs['name']=='Nikola Jokic']

,name,player_id,season_id,league_id,team,minutes,age,gamesplayed,points,rebounds,...,field_goal_percentage,three_attempts,three_percentage,freethrow_attempts,freethrow_percentage,steals,blocks,turnovers,start_season,end
10236,Nikola Jokic,203999,2022-23,00,DEN,38.9,28,15,29.9,13.3,...,0.538,3.8,0.474,6.8,0.784,1.1,0.9,3.5,2022,23

In [ ]:
x=''
current_playoffs[current_playoffs['name']==x]

,name,player_id,season_id,league_id,team,minutes,age,gamesplayed,points,rebounds,...,field_goal_percentage,three_attempts,three_percentage,freethrow_attempts,freethrow_percentage,steals,blocks,turnovers,start_season,end
10650,Bam Adebayo,1628389,2022-23,00,MIA,35.6,25,18,16.8,9.2,...,0.492,0.1,0.0,4.1,0.797,1.0,0.6,2.8,2022,23